





<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/png" href="/images/logo.png">
        <title>Muheko Nikolas - Blogs</title>

        <link rel="stylesheet" href="/css/pc/portfolio/main.css">
        <link rel="stylesheet" href="/css/pc/portfolio/home.css">
        <link rel="stylesheet" href="/css/pc/portfolio/blogs.css">

        <link rel="stylesheet" href="/css/mobile/portfolio/main.css">
        <link rel="stylesheet" href="/css/mobile/portfolio/home.css">



        <link rel="stylesheet" href="/css/pc/blogs/main.css">
        <link rel="stylesheet" href="/css/pc/blogs/home.css">
        <link rel="stylesheet" href="/css/pc/blogs/topPicks.css">
        <link rel="stylesheet" href="/css/pc/blogs/blogsAndTags.css">
        <link rel="stylesheet" href="/css/pc/blogs/loginAndSignupFormsContainer.css">

        <link rel="stylesheet" href="/css/mobile/portfolio/mobile470width.css">

        
        <script src="/js/blogs/mainSearch.js" defer></script>
        <script src="/js/blogs/script.js" defer></script>
        <script src="/js/blogs/observers.js" defer></script>

        <script src="https://kit.fontawesome.com/49ac55f315.js" crossorigin="anonymous"></script>

        <style>
            h1, h2, h3, h4, h5, h6, span, p{
                margin:0px;

                font-family: var(--font);
            }
        </style>
        
    </head>
    <body>

        <%-include('./imports/loginAndSignupFormsContainer.ejs')%>

        <div id="mainWrapper">
            <div class="topGradientBanner"></div>

            <%-include('./imports/blogsNavMenu.ejs')%>
            <%-include('./imports/blogsTopBar.ejs')%>

            <div class="blogsPageBlogsAndTagsSection">
                <div class="blogsSection">
       
                </div>

                <div class="blogTagsSectionContainer">
                    <div class="blogTagsSection">
                        <h3 class="blogTagsSectionTitle">Browse through topics that matter for you</h3>
                        <div class="blogTagsSectionContentSection">
                            <div>Programming</div>
                            <div>Data Science</div>
                            <div>Technology</div>
                            <div>Self Improvement</div>
                            <div>Writing</div>
                        </div>
                        <div class="blogSearchSection">
                            <div class="blogSearchSectionButton" onclick="blogsInputSearch()"></div>
                            <input type="text" class="blogSearchInput" <%if(req.query?.text?.length>0){%>value="<%=req.query.text%>"<%}%>>
                            <div class="blogSearchInputLabel" onclick="manageBlogSearchInputLabel()" <%if(req.query?.text?.length>0){%>style="display:none;"<%}%>>
                                Search
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </body>
</html>