

:root{
    --c1: #090927;
    --c2: #141339;
    --c3: #0C0C2B;
    --c4:#111030;
    
    --c1: #000000;
    --c2: #0a0a0a;
    --c3: #0a0a0a;
    --c4:#0a0a0a;
    --lightc: #141414;
    
    --white: #FFF1F3;
    --darkWhite1: #8787AC;
    --darkWhite2: #636288;
    --darkWhite3: #5E5E88;  
    --pink: #FF516D;
    --cyan: #01e7eb;

    --font: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}



*{
    transition: opacity 1s, background .7s, position 1s !important;
    scroll-behavior: smooth;
}

*::selection{
    color:var(--pink);

    border-radius:10px;
    background:var(--white);
}


body{
    background:var(--c1);
}

*:not(#mainWrapper)::-webkit-scrollbar{
    position:relative;
    width:1px;
}


#mainWrapper{
    --width:95vw;
    --width2:700px;

    position:fixed;
    top:0px;
    left:47.5%;

    margin:0px calc( calc( var(--width) / 2 ) * calc( 0 - 1 ) ) ;

    width:var(--width);

    width:100vw;
    height:100vh;

    overflow:hidden;
    overflow-y:auto;

    scroll-snap-type: y mandatory;

    background:var(--c1);
}

.pageSection{
    position:relative;

    width:100%;
    height:auto;

    display:block;
    margin-top:10px;
    padding:10px 0px;

    /* scroll-snap-align: start; */

    background:var(--c1);
}


.scrollToTopButton{
    position:fixed;

    z-index:9999;
    width:50px;
    height:50px;

    border-radius:50px;

    cursor:pointer;

    bottom:10px;
    right:10px;

    background:var(--pink);
}

.button{
    position:relative;
    border-radius:13px;

    box-shadow: 2px 4px 10px var(--c1), inset 0px 1px 1px rgb(74, 73, 73);

    cursor:pointer;
}

.topGradientBanner{
    position:absolute;
    top:0px;
    left:0px;
    
    width:100vw;
    height:15px;

    z-index:8888;

    background:linear-gradient(to right, var(--cyan), var(--white), var(--pink));
}

.topBar{
    position:relative;
    top:0px;
    left:0px;

    margin-top:20px;

    width:100%;
    height:70px;

    display:flex;
    align-items:center;

    z-index:90000;

    background:none;
}

.topBarLogoSection{
    position:relative;
    top:0px;
    margin-right:auto;

    margin-left:0px;

    width:250px;
    height:100%;

    background:none;
}

.topBarLogo{
    position:relative;

    width:auto;
    height:50px;

    display:block;
    margin:10px auto;


    background: url("/images/logo.png");
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
}

.topBarLinksSection{
    width:fit-content;
    height:60px;
    
    margin-left:auto;
    margin-right:50px;

    display:flex;
    column-gap:40px;
    align-items:center;

    counter-reset: topBarLinksCounter;

    background:none;
}

.topBarLinksSection > a{
    color:var(--white);
    font-size:15px;
    font-family:var(--font);
    text-decoration:none;

    white-space: nowrap;

    display:flex;
    justify-content: center;
    align-items: center;
    column-gap:5px;
}

.topBarLinksSection > a::before{
    counter-increment: topBarLinksCounter;

    content:counter(topBarLinksCounter);
    position:relative;

    display:flex;
    justify-content: center;
    align-items: center;

    color:var(--cyan);
    font-size:1.3em;
    font-weight:900;

    width:20px;
    height:20px;

    background:none;
}

.topBarLinksSection > a h3{
    font-weight:500;
}

.topBarLinksSection > a:hover{
    color:var(--cyan);
}

.topBarLinksSection > a:hover::before{
    color:var(--white);
}

.topBarButtonsSection{
    position:relative;
    top:0px;
    margin-left:auto;  

    display:flex;
    margin-right:40px;
    
    width:fit-content;
    padding:0px 10px;
    height:100%;

    display:none;

    background:none;
}

.topBarButtonsSection .button{
    position:relative;
    margin:10px auto;

    display:flex;
    justify-content:center;
    align-items:center;

    color:var(--white);
    font-size:2em;

    width:50px;
    height:50px;

    display:none;

    background:var(--pink);
}

.topBarMenuButton{
    margin:5px auto !important;
    width:60px !important;
    height:60px !important;
}

.bioContainer{
    position:fixed;
    top:0px !important;
    left:-200vw;

    width:  100vw;
    min-width:  100vw;
    max-width:  100vw;
    
    height:100vh;
    max-height:100vh;

    z-index:10000;

    display:flex;
    flex-direction: column;
    align-items:center; 

    padding:0px;

    overflow:hidden;
    overflow-y:auto;

    transition: left 1s !important;

    background:var(--c1);
}

.bioContainer::before{
    position:fixed;
    content:"";
    top:0px;
    left:-200vw;

    width:100vw;
    height:100vh;

    opacity:0.01;

    background:var(--darkWhite2);

    transition: left 1s !important;
}

.bioContainer.closed, .bioContainer.closed::before{
    left:-200vw !important; 
    /* animation: .1s 0s 1 slideOut forwards;  */
}


.bioContainer.opened{
    left:0px !important;
    /* animation: .1s 0s 1 slideIn forwards;  */
}

.bioContainer.opened::before{
    left:0px !important;
}

.bioContainer .contents{
    position:relative;


    width: calc( var(--width2) - 40px );
    height: fit-content ;
    max-height: 1000vh ;

    margin:0px !important;
    
    border-radius:10px;

    padding:10px 15px;
    
    margin:10px 0px !important;
    margin-bottom:90px !important;

    background:var(--c1);
}

.bioContainer .contents .portfolioOwnerBio{
    position:relative;
    
    border-radius:10px;

    color:var(--white);
    font-family:var(--font);

    height: fit-content;
    min-height: 10px ;
    max-height: 10000vh ;
    
    padding:10px;

    background:var(--c3);
}


.bioContainer .contents .button, .navMenuContainer .contents .button{
    position:relative;
    float:right;

    width:100px;
    height:40px;

    margin-top:5px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:var(--pink);
}

.bioContainer .contents .button h3, .navMenuContainer .contents .button h3{
    color:var(--white);
    font-family:var(--font);
    font-size:.9em;
}

.navMenuContainer{
    position:fixed;
    left:-200vw;
    top:0px;

    width:300px;
    height:100vh;

    z-index:100000;

    transition: left 1s !important;

    background:var(--c4);
}

.navMenuContainer.closed{
    left:-200vw !important;
}

.navMenuContainer.opened{
   left:0px !important;
}

.navMenuContainer .contents{
    width:85%;
    height:fit-content;
    min-height:100px;

    border-radius:10px;

    margin:0px auto;
    margin-top:100px; 

    padding:2.5%;

    background:var(--c2);
}

.navMenuContainer .contents .links{
    display:flex;
    flex-direction:column;
    row-gap:15px;
}

.navMenuContainer .contents .links a{
    text-decoration:none;
}

.navMenuContainer .contents .links a h3{
    color:var(--darkWhite3);
    font-family:var(--font);
}

.navMenuContainer .contents .links a h3:hover{
    color:var(--pink);
}

.navMenuContainer .contents .button{
    margin-top:20px;
}


@keyframes slideIn{
    0%{
        left:-200vw;
    } 
    
    100%{
        left:0px;
    }
}

@keyframes slideOut{
    0%{
        left:0px;
    } 
    
    100%{
        left:-200vw;
    }
}


@keyframes blink{
    0%{
        opacity:0.2;
    }

    100%{
        opacity:1;
    }
}