


.blogsPageBlogsAndTagsSection{
    width:calc( 370px * 3 );
    height:fit-content;

    display:grid;
    grid-template-columns:640px 350px;
    grid-column-gap:50px;
    justify-content: start;


    margin:0px auto;

    padding: 0px calc( ( 100vw - ( 370px * 3 ) ) / 2 );
    padding-top:30px;

    background:var(--c1Complement);
}

.blogsPageBlogsAndTagsSection .blogsSection{
    width:640px;
    height:fit-content;
    min-height:200px;

    padding-bottom:30px;

    background:none;
}


.blogElementContainer{
    position:relative;

    width:640px;
    height:fit-content;
    min-height:170px;
    max-height:170px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:none;
}

.blogElementContainer .portfolioOwnerBlogElementContainerContentSection{
    width:450px;
}


.blogElementContainer .portfolioOwnerBlogElementContainerAuthorName{
    color:var(--c1);
    font-size:13px;
}


.blogElementContainer .portfolioOwnerBlogElementContainerTitleSection{
    height:fit-content;
    min-height:90px;
    max-height:90px;
}


.blogElementContainer .portfolioOwnerBlogElementContainerTitle{
    color:var(--c1);
    font-size:20px;
    font-weight: 550;
    line-height:24px;
}

.blogElementContainer .portfolioOwnerBlogElementContainerThesis{

    color:#6B6B6B;
    font-size:16px;
    line-height: 20px;
    font-weight: 400;
    font-family:var(--font);

    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;

    width:100%;
    height:fit-content;

    max-height:40px;
}

.blogElementContainerBanner{
    width:190px;
    height:127px;

    background:url(/images/homeSectionBackgroundImage.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
}


.blogsPageBlogsAndTagsSection .blogTagsSectionContainer{
    position:relative;
    width:fit-content;
    height:100%;

    overflow:scroll;

    background:none;
}


.blogsPageBlogsAndTagsSection .blogTagsSection{
    position:sticky;

    width:430px;
    height:fit-content;
    min-height:40px;
}

.blogTagsSectionTitle{
    color:var(--c1);
    font-size:16px;
    font-weight:500;
    line-height:20px;
}

.blogTagsSectionContentSection{
    width:100%;
    height:fit-content;
    min-height:40px;

    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap:10px;

    padding-top:10px;

    background:none;
}

.blogTagsSectionContentSection > div{
    width:fit-content;
    min-width:50px;
    height:35px;

    padding:0px 20px;
    margin:0px;

    display:flex;
    justify-content: center;
    align-items: center;

    border-radius:20px;

    color:var(--c1);
    font-size:14px;
    font-family: var(--font);
    font-weight:400;
    white-space: nowrap;

    background:rgba(130, 130, 130, .1);
}


.blogSearchSection{
    --inputWidth: 250px;
    --inputHeight:35px;

    width:var(--inputWidth);
    min-width:var(--inputWidth);
    max-width:var(--inputWidth);
    height:var(--inputHeight);

    margin-top:10px;

    display:flex;
    align-items: center;

    background:none;
}

.blogSearchSection > input{
    position: relative;

    top:0px;
    left: -30px;

    width: var(--inputWidth) ;
    min-width: var(--inputWidth) ;
    max-width: var(--inputWidth);
    height: calc( var(--inputHeight) - 1px ) ;

    /* border:.01px solid var(--c1); */
    border:none !important;
    border-radius: 8px;

    text-indent:25px;

    padding:0px 10px 0px 10px;

    background:#f2e5e7;
}

.blogSearchSection > input:focus-visible{
    border:none !important;
    outline:none !important;
}

.blogSearchInputLabel{
    position: relative;
    left: calc( -100% - 20px ) ;

    width:fit-content;
    min-width: calc( 100% - 12px );
    max-width:100%;
    height: calc( var(--inputHeight) - .7px ) ;

    display:flex;
    justify-content: start;
    align-items:center;

    border-radius:8px;

    color:gray;
    font-size:1em;
    font-family:var(--font);
    font-weight:400;
    text-indent:10px;

    cursor:text;

    background:#f2e5e7;
    /* background:transparent; */
}

.blogSearchSectionButton{
    position:relative;
    top:0px;
    left:1px;

    display:flex;
    justify-self: center;

    width:30px;
    height: calc( var(--inputHeight) - .5px ) ;
    min-width:30px;
    min-height: calc( var(--inputHeight) - .5px ) ;
    max-width:30px;
    max-height: calc( var(--inputHeight) - .5px ) ;

    z-index:2;

    cursor: pointer;

    border-radius:6px 0px 0px 6px;
}

.blogSearchSectionButton::before{
    content:"";
    position: relative;

    width:inherit;
    height:inherit;

    transform:scale(.5);

    background: transparent url(/images/icons/searchIcon.png);
    background-size:90% !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}