



.blogsPageHomeSection{
    position:relative;
    top:0px;
    left:0px;

    width:var(--width1);
    height:fit-content;
    min-height:350px;
 
    display:flex;
    flex-direction: column;
    justify-content: center;

    background:var(--c1);
}

.blogsPageHomeSection::before{
    position:absolute;
    content:"";
    top:-95px;
    left:0px;

    display:block;

    width: 100% ;
    height: calc( 100% + 95px ) ;

    background:url(/images/homeSectionBackgroundImage.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
}

.blogsPageHomeSection::after{
    content:"";
    position:absolute;
    top:-94px;
    left:0px;

    width: calc( 100% + 2px );
    height: calc( 100% + 94px );

    opacity:0.94;

    background:var(--pink);
}


.blogsPageHomeSectionContentSection{
    position:relative;

    width:fit-content;
    min-width:100px;
    height:fit-content;
    min-height:100px;

    margin-left:20px;

    z-index:1;

    background:none;
}

.blogsPageHomeSectionContentHeader{
    color:var(--white);
    font-size:3em;
}

.blogsPageHomeSectionContentCitation{
    color:var(--white);
    font-size:1em;

    margin-left:35px;
}