

.loginAndSignupFormsContainer{
    position: fixed;
    top:0px;
    left:0px;

    width:100vw;
    height:100vh;

    display:none;

    z-index:100000;

    overflow-y:auto;
}

.loginAndSignupFormsContainer.visible{
    display:flex;
    flex-direction: column;
    align-items: center;
    column-gap:20px;
}

.loginAndSignupFormsContainer::before{
    content:"";
    position:fixed;
    top:0px;
    left:0px;

    width:100%;
    height:100%;

    opacity:0.93;

    z-index:-1;

    background:var(--white);
}

.loginAndSignupFormsContainer > div{
    width:200px;
    height:200px;

    margin-top:0px;

    display:none;

    margin-bottom:0px;
    
    background:var(--white);
}

.loginFormContainer::before, .signupFormContainer::before{
    content:"";
    position:fixed;
    top:0px;
    left:25%;

    width:inherit;
    height:inherit;
    min-height: inherit;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;

    margin:0px auto;

    z-index:-1;

    background:var(--white);
}


.loginAndSignupFormsContainer.visible.showLoginFormContainer .loginFormContainer, .loginAndSignupFormsContainer.visible.showSignupFormContainer .signupFormContainer{
    display:block;
}

.loginAndSignupFormsContainer.visible.showLoginFormContainer .signupFormContainer, .loginAndSignupFormsContainer.visible.showSignupFormContainer .loginFormContainer{
    display:none;
}




.loginFormContainer, .signupFormContainer{
    position:relative;
    top:0px;
    left:0px;

    display:flex;
    flex-direction: column;
    justify-content: center;

    width:50% !important;
    height:fit-content !important;
    min-height:100vh !important;

    padding-bottom:0px;

    background:none !important;
}

.loginFormContainerCloseButton, .signupFormContainerCloseButton{
    position:relative;
    float:right;

    width:40px;
    height:40px;

    display:flex;
    justify-content: center;
    align-items: center;

    margin-top:10px;
    margin-right:10px;

    border-radius:10px;

    cursor:pointer;

    background:none;
}

.loginFormContainerCloseButton h3, .signupFormContainerCloseButton h3{
    height:25px;
    width:25px;
    min-height:25px;
    min-width:25px;
    max-height:25px;
    max-width:25px;

    font-size:15px;
    font-family:var(--font);
    font-weight:300;

    transform: scale(2,1.5);

    display:flex;
    align-items: center;
    justify-content: center;
}

.loginFormContainerContentsSection, .signupFormContainerContentsSection{
    position: relative;
    top:0px;
    left:0px;

    width:90%;
    height:fit-content;
    min-height: 100px;

    margin:0px auto;
    margin-top:60px;

    background:none;
}

.loginFormContainerTitle, .signupFormContainerTitle{
    position: relative;

    width:fit-content;
    height:fit-content;

    margin:0px auto;
    margin-top:50px !important;

    font-size:2em;
    font-weight:400;

    background:none;
}

.loginFormButtonsContainer, .signupFormButtonsContainer{
    position:relative;

    width:100%;
    height:fit-content;
    min-height:100px;

    display:flex;
    align-items: center;
    flex-direction: column;
    row-gap:10px;

    margin-top:70px;

    background:var(--white);
}

.loginFormButtonsContainer > a, .signupFormButtonsContainer > a{
    width:fit-content;
    display:flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.loginFormButtonsContainer > a > div, .signupFormButtonsContainer > a > div{
    width:300px;
    height:40px;

    display:flex;
    justify-content: center;
    align-items: center;

    margin:0px auto;

    border-radius:30px;

    border:1px solid var(--c1);

    background:none;
}

.loginButtonContainerLogo, .signupButtonContainerLogo{
    width:20px;
    height:20px;

    margin-right:auto;
    margin-left:20px;

    background:gray;
    background-position:center center !important;
    background-size:contain !important;
    background-repeat:no-repeat !important;
}

.loginButtonContainerLogo.facebook, .signupButtonContainerLogo.facebook{
    background:url(/images/brands/facebook.png);
}

.loginButtonContainerLogo.github, .signupButtonContainerLogo.github{
    background:url(/images/brands/github.png);
}

.loginButtonContainerLogo.google, .signupButtonContainerLogo.google{
    background:url(/images/brands/google.png);
}

.loginButtonContainerLogo.twitter, .signupButtonContainerLogo.twitter{
    background:url(/images/brands/twitter.png);
}

.loginButtonContainerLogo.discord, .signupButtonContainerLogo.discord{
    background:url(/images/brands/discord.png);
}

.loginButtonContainerText, .signupButtonContainerText{
    margin:0px auto;
    margin-left:-30px;

    color:var(--c1);
    font-size:1em;
    font-family:var(--font);
    font-weight:400;
}

.otherOptionContainer{
    width:fit-content;
    height:fit-content;

    margin:0px auto;
    margin-top:40px;

    cursor:pointer;
}

.otherOptionContainer h3{
    font-size:1em;
    font-weight:400;
}

.otherOptionContainer h3 a{
    color:var(--pink);
    text-decoration: none;
    font-weight:700;
}