

:root{
    --width1: 100vw !important;

    --c1Complement: var(--white);
    --orange: #FFC017;
}


*:not(#mainWrapper)::-webkit-scrollbar{
    position:relative;
    width:initial;
    
    background:initial !important;
}

*:not(#mainWrapper)::-webkit-scrollbar-thumb{
    width:initial;

    border-radius:initial;

    background:white;
}



.topBar{
    position: sticky;

    margin-top:15px;

    height:50px;

    /* opacity:.4; */

    background:var(--c1);
    background:  var(--pink);
}

.topBar.changeColorToWhite{
    background:var(--white);
}

.topBar.changeColorToWhite .topBarLinksSection a{
    color: var(--cyan);
}

.topBar.changeColorToWhite .topBarLinksSection a::before{
    color: var(--pink);

    
    display:none;
}

.topBar.changeColorToWhite .topBarLinksSection a:hover{
    color:var(--pink);
}

.topBar.changeColorToWhite .topBarLinksSection a:hover::before{
    color:var(--cyan);
}


.topBarLogoSection{
    height:50px;
}

.topBarLogo{
    height:50px;

    margin:0px !important;

    transform:scale(.8);
}

.topBarMenuButton{
    width:40px !important;
    height:40px !important;
}


.SectionHeader{

    color: var(--darkWhite2);
    font-weight:400;

    margin-left:20px;
}