

.blogsPageTopPicksSection{
    width:var(--width1);

    height:fit-content;

    padding-top:20px;

    background:var(--c1Complement);
}

.blogsPageTopPicksSection .SectionHeader{
    position: relative;
    left:10px;

    margin: 0px auto;

    width: calc( 370px * 3 ) ;
}

.topPicksContainer{
    display:grid;
    grid-template-columns: repeat(3, 370px);
    justify-content: center;
    align-items: center;

    margin:0px auto;

    width: calc( 370px * 3 ) ;
    height:fit-content;

    counter-reset: blogNumberCounter;
}

.topPicksContainer h3{
    color:var(--c1);
}

.portfolioOwnerBlogElementContainerTimestampsSection *{
    color:var(--c1) !important;
}

.portfolioOwnerBlogElementContainerTimestampsSection *::before{
    background:var(--c1) !important;
}

.portfolioOwnerBlogElementContainerNumber{
    color:rgb(65 59 59) !important
}