@media screen and (max-width:500px) {

    .homeSectionCenterDiv{
        left:0px;

        width:var(--width2);

        grid-template-columns:35% 60%;
        grid-gap:0px;

        margin-top:-15px;  
    }

    .pageHomeSection::after {
        opacity: 0.9 !important;
    }
    
    .homeSectionCenterDivPfp{
        left:0px;
        transform: scale(1.4);

        width:230px;
        opacity:0.4;
        height:100%;
    }

    .homeSectionCenterDivBio{
        left:0px;
        margin-left:0px;
    }

    .homeSectionCenterDivBioBlocksSection{
        width:100%;
    }

    .homeSectionCenterDivBioBlocks{
        width:fit-content;
        height:60px;

    }

    .homeSectionCenterDivBioBlocks.first{
        margin-left:50px;
        padding-right:5px;
    }

    .homeSectionCenterDivBioBlocks.second{
        margin-left:40px;
        padding-right:0px;
    }

    .homeSectionCenterDivBioBlocks.third{
        margin-left:30px;
    }

    .homeSectionCenterDivBioBlocks h3{
        font-size:.9em;
    }

    .homeSectionCenterDivBioBlocks.second h3{
        font-size:1.5em;
    }


    .homeSectionCenterDivHeroButton{
        width:130px;
        height:45px;
    }

    .homeSectionCenterDivHeroButton p{
        font-size:1.5em;
    }
}