


<div class="topBar pageSection changeColorToWhite" id="topBar">
    <div class="topBarLogoSection">
        <div class="topBarLogo" style="cursor:pointer;" onclick="location.href = '/'"></div>
    </div>

    <div class="topBarLinksSection">
        <a href="/">
            <h3>Portfolio</h3>
        </a>
        <a href="/blogs">
            <h3>Blogs</h3>
        </a>

        <% if (req.session.userLoggedIn == true){ %>
            <a href="/blogs/new">
                <h3>Write</h3>
            </a>
            <%- include('./loggedInUserTopBarContainer.ejs')%>
        <%} else { %>
            <a href="/blogs/..." class="noRedirect" onclick="showLoginAndSignupFormsContainer()">
                <h3>Sign In</h3>
            </a>
        <% } %> 
    </div>

    
    <div class="topBarButtonsSection">

        <div class="topBarThemeButton button" data-theme="dark" onclick="manageColorTheme()">
            <i class="fa-solid fa-sun"></i>
        </div>

        <div class="topBarMenuButton button" onclick="manageSideMenuDiv()">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</div>