


<style>

    .loggedInUserAnchor::before{
        display:none !important;
    }


    .loggedInUserInfoContainer{
        width:35px;
        height:35px;

        border-radius:50px;

        background:url(/images/pfp.jpg);
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
    }
</style>

<%var loggedInUser = req.loggedInUser || null%>

<a href="/blogs/users/<%=req.loggedInUser?.id%>" class="loggedInUserAnchor" onclick="showLoggedInUserMenu()">
    <div class="loggedInUserInfoContainer" style="background:url(<%=req.loggedInUser?.profilePicture%>);"></div>
</a>