



<div class="signupFormContainer">
    <div class="signupFormContainerCloseButton">
        <h3>x</h3>
    </div>

    <div class="signupFormContainerContentsSection">
        <h3 class="signupFormContainerTitle">
            Join My Blog.
        </h3>
        <div class="signupFormButtonsContainer">
            <a href="/auth/google">
                <div class="signupButtonContainer">
                    <div class="signupButtonContainerLogo google"></div>
                    <h3 class="signupButtonContainerText">Singup with Google</h3>
                </div>
            </a>

            <a href="/auth/twitter">
                <div class="signupButtonContainer">
                    <div class="signupButtonContainerLogo twitter"></div>
                    <h3 class="signupButtonContainerText">Singup with Twitter</h3>
                </div>
            </a>

            <a href="/auth/facebook">
                <div class="signupButtonContainer">
                    <div class="signupButtonContainerLogo facebook"></div>
                    <h3 class="signupButtonContainerText">Singup with Facebook</h3>
                </div>
            </a>

            <a href="/auth/github">
                <div class="signupButtonContainer">
                    <div class="signupButtonContainerLogo github"></div>
                    <h3 class="signupButtonContainerText">Singup with Github</h3>
                </div>
            </a>

            <a href="/auth/discord">
                <div class="signupButtonContainer">
                    <div class="signupButtonContainerLogo discord"></div>
                    <h3 class="signupButtonContainerText">Singup with Discord</h3>
                </div>
            </a>
        </div>
        <div class="otherOptionContainer">
            <h3 class="otherOption">Already have an account? <a href="/blogs/login" class="otherOptionAnchor noRedirect" <% if(typeof(loginPageLink)!="undefined"){ %> href="<%=loginPageLink%>" <%}else{%> onclick="showLoginForm()" <%}%>>Login</a></h3>
        </div>
    </div>
</div>